In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import pie,axis,show
import seaborn as sns
import random as rd
import datetime as dt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
pwd

'/content'

In [0]:
devices=pd.read_csv('/content/devices.csv')
notifications=pd.read_csv('/content/notifications.csv')
users=pd.read_csv('/content/users.csv')

In [4]:
print('the shape of devices is: ',devices.shape)
print('the shape of notifications is: ',notifications.shape)
print('the shape of users is: ',users.shape)

the shape of devices is:  (15544, 2)
the shape of notifications is:  (97704, 5)
the shape of users is:  (15544, 12)

In [0]:
devices = devices.set_index('user_id')
df=pd.merge(users,devices,on='user_id')
userdf=df.set_index('user_id')

In [6]:
userdf.head(2)

         birth_year country  ... num_successful_referrals  brand
user_id                      ...
user_0         1992      ES  ...                        0  Apple
user_1         1985      LT  ...                        0  Apple

[2 rows x 12 columns]

In [0]:
userdf.describe()

In [0]:
userdf.dtypes

In [0]:
userdf.isnull().sum()

In [10]:
# Replace 'SILVER' and 'GOLD' with 'PAID' in order to have two categories of plan: 'STANDARD' and 'PAID'
userdf['plan'] = userdf['plan'].str.replace('SILVER', 'PAID')
userdf['plan'] = userdf['plan'].str.replace('GOLD', 'PAID')
print("Number of customers by plan ","\n" ,userdf['plan'].value_counts())

Number of customers by plan
 STANDARD    14394
PAID         1150
Name: plan, dtype: int64

filling the NANS in email

In [11]:
# apo tous 15544 xrhstes oi 14394 (92.6%) einai standard, kai oi upoloipoi 1150 (7.3%) einai paid
userdf['plan'].value_counts()

STANDARD    14394
PAID         1150
Name: plan, dtype: int64

In [12]:
#oson afora to an exoun dextei na dexontai mail
#oson afora tous 830 paid xrhstes: oi 73 (6.3%) den exoun dextei 
                             # oi 757 (65.8%) exoun dextei
#oson afora tous 9454 standard xrhstes: oi 1002 (6.9%) den exoun dextei 
                             # oi 8452 (58.7%) exoun dextei
pd.crosstab(index=userdf['attributes_notifications_marketing_email'],columns=userdf['plan'])

plan                                      PAID  STANDARD
attributes_notifications_marketing_email
0.0                                         73      1002
1.0                                        757      8452

In [13]:
#parathrw oti 320 xrhstes oi opoioi einai paid exoun timi nan kai epishs 4940 xrhstes standard exoun epishs timh nan
pd.crosstab(index=userdf['attributes_notifications_marketing_email'].isnull(),columns=userdf['plan'])

plan                                      PAID  STANDARD
attributes_notifications_marketing_email
False                                      830      9454
True                                       320      4940

In [0]:
##ara tha gemisw posostiaia tis nan times kai tha thewrisw oti apo tous 320 paid xristes me nan oi 292(91.25%) tha dextoun (=1) enw oi 28(8.75%) oxi (=0)
##kai oson afora tous standard apo tous 4940 me nan times tha thewrisw tous 4416(90%) oti tha dextoun (=1) enw oi 524(10%) oxi (=0)

In [0]:
def mail(vec):
  prob=rd.random()
  plan, p = vec[0], vec[1]
  if plan=='STANDARD' and np.isnan(p):
    if prob<0.9:
      return 1
    else:
      return 0
  if plan=='PAID' and np.isnan(p):
    if prob<0.9125:
      return 1
    else:
      return 0    
  return p

In [0]:
userdf['attributes_notifications_marketing_email']=userdf[['plan','attributes_notifications_marketing_email']].apply(mail,axis=1)

In [17]:
userdf['attributes_notifications_marketing_email'].value_counts()

1.0    13940
0.0     1604
Name: attributes_notifications_marketing_email, dtype: int64

filling the NANS in push

In [18]:
# apo tous 15544 xrhstes oi 14394 (92.6%) einai standard, kai oi upoloipoi 1150 (7.3%) einai paid
userdf['plan'].value_counts()

STANDARD    14394
PAID         1150
Name: plan, dtype: int64

In [19]:
#oson afora to an exoun dextei na dexontai push notifications
#oson afora tous 830 paid xrhstes: oi 46 (5.5%) den exoun dextei 
                             # oi 784 (94.5%) exoun dextei
#oson afora tous 9454 standard xrhstes: oi 486 (5%) den exoun dextei 
                             # oi 8968 (95%) exoun dextei
pd.crosstab(index=userdf['attributes_notifications_marketing_push'],columns=userdf['plan'])

plan                                     PAID  STANDARD
attributes_notifications_marketing_push
0.0                                        46       486
1.0                                       784      8968

In [20]:
#parathrw oti 320 xrhstes oi opoioi einai paid exoun timi nan kai epishs 4940 xrhstes standard exoun epishs timh nan
pd.crosstab(index=userdf['attributes_notifications_marketing_push'].isnull(),columns=userdf['plan'])

plan                                     PAID  STANDARD
attributes_notifications_marketing_push
False                                     830      9454
True                                      320      4940

In [0]:
##ara tha gemisw posostiaia tis nan times kai tha thewrisw oti apo tous 320 paid xristes me nan oi 305(95%) tha dextoun (=1) enw oi 15(5%) oxi (=0)
##kai oson afora tous standard apo tous 4940 me nan times tha thewrisw tous 4693(95%) oti tha dextoun (=1) enw oi 247(5%) oxi (=0)

In [0]:
def push(vec):
  prob=rd.random()
  plan, p = vec[0], vec[1]
  if plan=='STANDARD' and np.isnan(p):
    if prob<0.95:
      return 1
    else:
      return 0
  if plan=='PAID' and np.isnan(p):
    if prob<0.95:
      return 1
    else:
      return 0    
  return p

In [0]:
userdf['attributes_notifications_marketing_push']=userdf[['plan','attributes_notifications_marketing_push']].apply(push,axis=1)

In [24]:
userdf['attributes_notifications_marketing_push'].value_counts()

1.0    14759
0.0      785
Name: attributes_notifications_marketing_push, dtype: int64

In [25]:
userdf.dtypes

birth_year                                    int64
country                                      object
city                                         object
created_date                                 object
user_settings_crypto_unlocked                 int64
plan                                         object
attributes_notifications_marketing_push     float64
attributes_notifications_marketing_email    float64
num_contacts                                  int64
num_referrals                                 int64
num_successful_referrals                      int64
brand                                        object
dtype: object

more data analysis

In [26]:
userdf['created_date'] = userdf['created_date'].apply(pd.to_datetime)
userdf['created_year']=pd.DatetimeIndex(userdf['created_date']).year
userdf['created_month']=pd.DatetimeIndex(userdf['created_date']).month
print("Number of customers by created year ","\n" ,userdf['created_year'].value_counts())
print("Number of customers by created month ","\n" ,userdf['created_month'].value_counts())

Number of customers by created year
 2018    15494
2019       50
Name: created_year, dtype: int64
Number of customers by created month
 12    1922
11    1555
10    1454
8     1421
3     1418
9     1407
5     1266
6     1262
7     1237
4      957
1      937
2      708
Name: created_month, dtype: int64

In [0]:
userdf=pd.concat([pd.get_dummies(userdf['created_year']), userdf], axis=1)

In [0]:
userdf=userdf.drop('created_date',axis=1)

In [32]:
userdf['num_referrals'].value_counts()

0    15544
Name: num_referrals, dtype: int64

In [33]:
userdf['num_successful_referrals'].value_counts()

0    15544
Name: num_successful_referrals, dtype: int64

In [0]:
# i notice that both of the above columns have the same value so i can't take valuable information from them so:
userdf=userdf.drop('num_referrals',axis=1)

In [0]:
userdf=userdf.drop('num_successful_referrals',axis=1)

In [0]:
def change(x):              #function to encode plan to 'paid' and 'standard'
  if x == 'STANDARD':
    return 0
  elif x == 'SILVER':
    return 1
  else:
    return 1

In [37]:
pd.crosstab(index=userdf['brand'],columns=userdf['plan'])

plan     PAID  STANDARD
brand
Android   454      7346
Apple     687      7025
Unknown     9        23

In [0]:
def changebrand(x):       #function to encode brand into Apple and Android
  if x=='Apple':
    return 1
  else:
    return 0

In [0]:
userdf['birth_year'] =2020 - (userdf[['birth_year']]) #transforming birth year

In [40]:
userdf['country'].unique()

array(['ES', 'LT', 'IE', 'GB', 'MT', 'FR', 'RO', 'PL', 'AT', 'IT', 'SI',
       'CZ', 'BE', 'BG', 'GI', 'CH', 'GG', 'CY', 'LV', 'DE', 'SK', 'GR',
       'DK', 'PT', 'LU', 'HR', 'NL', 'NO', 'SE', 'AU', 'IM', 'FI', 'EE',
       'JE', 'HU', 'RE', 'IS', 'GP', 'LI', 'MQ'], dtype=object)

In [0]:
def change_country(x):     #function to cluster the countries
  if x=='IE' or x=='GB' or x=='AT' or x=='BE' or x=='GG' or x=='LV' or x=='DE' or x=='DK' or x=='LU' or x=='NL' or x=='NO' or x=='SE' or x=='IM' or x=='FI' or x=='JE' or x=='IS':
    return 'NorthEurope'
  elif x=='MT' or x=='IT' or x=='SI' or x=='BG' or x=='CY' or x=='GR' or x=='HR':
    return 'SouthEurope'
  elif x=='AU':
    return 'Australia'
  elif x=='LT' or x=='RO' or x=='PL' or x=='CZ' or x=='SK' or x=='EE' or x=='HU':
    return 'EastEurope'
  elif x=='ES' or x=='FR' or x=='GI' or x=='CH' or x=='PT' or x=='RE' or x=='GP' or x=='LI' or x=='MQ':
    return 'WestEurope'

In [0]:
userdf['country']=userdf['country'].apply(change_country)

In [0]:
userdf=pd.concat([pd.get_dummies(userdf['country']), userdf], axis=1)

In [43]:
userdf['country'].value_counts()

NorthEurope    7198
EastEurope     3755
WestEurope     3375
SouthEurope    1212
Australia         4
Name: country, dtype: int64

In [0]:
userdf=userdf.drop('country',axis=1)

In [0]:
userdf=userdf.drop('city',axis=1)

In [50]:
userdf.head(3)

         Australia  EastEurope  NorthEurope  ...  brand  created_year  created_month
user_id                                      ...
user_0           0           0            0  ...  Apple          2018              9
user_1           0           1            0  ...  Apple          2018              1
user_2           0           0            1  ...  Apple          2018             11

[3 rows x 16 columns]

In [0]:
userdf['plan']=userdf['plan'].apply(change)

In [0]:
userdf['brand']=userdf['brand'].apply(changebrand)

In [0]:
userdf.dtypes

In [0]:
ax=sns.boxplot(x=userdf.num_contacts)
plt.show()

In [0]:
ax=sns.boxplot(x=userdf.birth_year)
plt.show()

In [0]:
plt.figure(figsize=(10,6))
ax=plt.subplot(1,1,1)
ax.scatter(userdf['num_contacts'],userdf['plan'])

In [0]:
mask = np.zeros_like(userdf.corr(), dtype=np.bool) 
mask[np.triu_indices_from(mask)] = True 
f, ax = plt.subplots(figsize=(10, 8))
plt.title('Pearson Correlation Matrix',fontsize=25)

 

sns.heatmap(userdf.corr(),linewidths=0.25,vmax=1.0,square=True,cmap="GnBu", 
            linecolor='w',annot=True,mask=mask,cbar_kws={"shrink": .75});

In [0]:
plt.figure(figsize=(5,5))
sns.heatmap(userdf.groupby(['plan','user_settings_crypto_unlocked']).birth_year.count().unstack(),annot=True,fmt='.0f')

In [0]:
from scipy.stats import pearsonr
import matplotlib.pyplot as plt

def corrfunc(x,y,ax=None,**kws):
  r,_=pearsonr(x,y)
  ax=ax or plt.gca()
  rho='\u03C1'
  ax.annotate(f'{rho} = {r:.2f}', xy=(.1, .9), xycoords=ax.transAxes)

In [0]:
ax=sns.pairplot(userdf,hue='plan')
ax.map_lower(corrfunc)
plt.show()

pipeline

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.externals import joblib
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [0]:
x=userdf.drop('plan',axis=1)

In [0]:
y=userdf['plan']

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [0]:
pipeline_lr=Pipeline([('scalar1', StandardScaler()),
                     ('pca1', PCA(n_components=2)),
                     ('lr_classifier',LogisticRegression(random_state=0))])

In [0]:
pipeline_dt=Pipeline([('scalar2', StandardScaler()),
                     ('pca2', PCA(n_components=2)),
                     ('dt_classifier',DecisionTreeClassifier())])

In [0]:
pipeline_kn=Pipeline([('scalar3', StandardScaler()),
                     ('pca3', PCA(n_components=2)),
                     ('kn_classifier',KNeighborsClassifier())])

In [0]:
pipelines=[pipeline_lr, pipeline_dt, pipeline_kn]

In [0]:
best_accuracy=0.0
best_classifier=0
best_pipeline=""

In [0]:
pipe_dict= {0: 'Logistic Regression', 1: 'Decision Tree', 2: 'KNeighbors' }
for pipe in pipelines:
  pipe.fit(x_train, y_train)

In [75]:
for i,model in enumerate(pipelines):
  print("{} Test Accuracy: {}" .format(pipe_dict[i],model.score(x_test, y_test)))

Logistic Regression Test Accuracy: 0.92537793502734
Decision Tree Test Accuracy: 0.8726278546156321
KNeighbors Test Accuracy: 0.9211965262142168

In [76]:
for i,model in enumerate(pipelines):
  if model.score(x_test, y_test)>best_accuracy:
    best_accuracy=model.score(x_test, y_test)
    best_pipeline=model
    best_classifier=i
print('Classifier with the best accuracy: {}' .format(pipe_dict[best_classifier]))

Classifier with the best accuracy: Logistic Regression