In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

In [13]:
df = pd.read_csv('../processed_data/trans_users_dev.csv')
us = pd.read_csv('../data/users.csv')

df = pd.merge(df, us[['user_id','created_date']], on='user_id', how='left')


df.head(5)
# print(df.info()) dt.days

,Unnamed: 0,user_id,total_amount,number_transactions,avg_amount,first_transaction,last_transaction,transaction_period,Australia,EastEurope,...,plan,attributes_notifications_marketing_push,attributes_notifications_marketing_email,num_contacts,num_referrals,num_successful_referrals,brand,created_year,created_month,created_date_y
0,0,user_0,6925.08,520,13.317462,2018-09-10 18:54:08.965855,2019-05-10 05:09:13.868855,241.5,0,0,...,0,1.0,1.0,3,0,0,1,2018,9,2018-09-10 18:46:42.843855
1,1,user_1,12955.54,133,97.410075,2018-02-04 08:28:17.978146,2019-05-04 02:30:11.492146,453.5,0,1,...,0,1.0,1.0,75,0,0,1,2018,1,2018-01-11 18:53:10.531146
2,2,user_10,5438.92,123,44.218862,2018-06-29 15:38:15.855413,2019-05-11 13:07:42.624413,315.5,0,1,...,0,1.0,1.0,19,0,0,1,2018,1,2018-01-26 18:40:43.166413
3,3,user_100,4230.10,55,76.910909,2018-12-02 14:23:12.926151,2019-02-24 13:36:50.054151,83.5,0,0,...,0,1.0,1.0,0,0,0,0,2018,12,2018-12-02 14:18:09.034151
4,4,user_1000,843.12,43,19.607442,2019-03-27 11:03:23.105644,2019-05-05 19:08:42.183644,39.5,0,0,...,1,1.0,1.0,13,0,0,1,2018,3,2018-03-22 22:08:56.267644

In [29]:
df['first_transaction'] = pd.to_datetime(df['first_transaction'])
df['last_transaction'] = pd.to_datetime(df['last_transaction'])
df['created_date_y'] = pd.to_datetime(df['created_date_y'])
(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14821 entries, 0 to 14820
Data columns (total 31 columns):
Unnamed: 0                                  14821 non-null int64
user_id                                     14821 non-null object
total_amount                                14821 non-null float64
number_transactions                         14821 non-null int64
avg_amount                                  14821 non-null float64
first_transaction                           14821 non-null datetime64[ns]
last_transaction                            14821 non-null datetime64[ns]
transaction_period                          14821 non-null float64
Australia                                   14821 non-null int64
EastEurope                                  14821 non-null int64
NorthEurope                                 14821 non-null int64
SouthEurope                                 14821 non-null int64
WestEurope                                  14821 non-null int64
year_2018                                   14821 non-null int64
year_2019                                   14821 non-null int64
age                                         14821 non-null int64
country                                     14821 non-null object
city                                        14821 non-null object
created_date_x                              14821 non-null object
user_settings_crypto_unlocked               14821 non-null int64
plan                                        14821 non-null int64
attributes_notifications_marketing_push     14821 non-null float64
attributes_notifications_marketing_email    14821 non-null float64
num_contacts                                14821 non-null int64
num_referrals                               14821 non-null int64
num_successful_referrals                    14821 non-null int64
brand                                       14821 non-null int64
created_year                                14821 non-null int64
created_month                               14821 non-null int64
created_date_y                              14821 non-null datetime64[ns]
user_active_time                            14821 non-null int64
dtypes: datetime64[ns](3), float64(5), int64(19), object(4)
memory usage: 4.2+ MB

In [30]:
trans_end_point = max(df.last_transaction)

# end point - created_year = xroniko diastima poy o xristis einai sto sustima
df['user_active_time'] = (trans_end_point - df['created_date_y']).dt.days
df['user_active_time'].head(5)

0    247
1    489
2    474
3    164
4    418
Name: user_active_time, dtype: int64

In [35]:
# transaction period = last_trans - first_trans
#  trans_end_point - fist_transaction
df['user_trans_time'] = (trans_end_point - df['first_transaction']).dt.days
df['user_trans_time'].head(5)

0    247
1    465
2    320
3    164
4     49
Name: user_trans_time, dtype: int64

In [43]:
df['user_trans_periodicity'] = ( (df['user_trans_time'] / df['number_transactions']) ) /  df['user_active_time']
df.user_trans_periodicity.head(5)

0    0.001923
1    0.007150
2    0.005489
3    0.018182
4    0.002726
Name: user_trans_periodicity, dtype: float64

In [44]:
df.to_csv('../processed_data/trans_users_dev1.csv')